# This file is used to set environment variables for postgres

# these are the admin creds
# DO NOT RENAME THESE!!! Postgres automatically uses these
POSTGRES_USER=admin
POSTGRES_PASSWORD=

# this is the database name
# DO NOT RENAME THIS!!! Postgres automatically uses this
POSTGRES_DB=readybot

BOT_POSTGRES_USER=readybot
BOT_POSTGRES_PASSWORD=